
@{
    Layout = null;
}

<html>
<head>
    <link href="~/Content/CSS/Home/Login.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />

</head>
<body id="LoginForm">
    <div class="container">
        <h1 class="form-heading">login Form</h1>
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Admin Login</h2>
                    <p>Please enter your email and password</p>
                </div>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="forgot">
                                <p>@ViewBag.msgError</p>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                    }

            </div>
        </div>
    </div>
    <script src="~/Scripts/Jquery/jquery-3.3.1.min.js"></script>
</body>
</html>
